.navbar {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width:26rem;
    /*color: #091156;*/
}
.navlink {
    display:flex;
    align-items: center;
    width:60%;
    justify-content:space-between;
    font-size:1.6rem;
    color:#aaa;
}
.navactive {
    color: #091156;
}
.btn {
    font-weight: 600;
    background:#FF64AE;
    color:#fff;
    border:none;
    outline:none;
    border-radius:10rem;
    padding: 1.2rem 3rem;
    font-size:1.6rem;
    cursor:pointer;
}
