.main {
    width:100%;
    /*text-align: center;*/
    height:100vh;
    color: rgb(215, 215, 215);
    font-size:1.5rem;
    line-height:3rem;
    background-image: url(../../images/Footer BG 1.png);
    background-repeat: no-repeat;
    background-position-y: 5rem;
    background-size:150%;
    position: relative;
    overflow-y: hidden;

}
.overlay {
    position:absolute;
    /*width:100%;*/
    top: 5rem;
    left:0;
    opacity:0.1;
    width:100%;
    height:95%;
    z-index:0;
    /*transform: rotateZ(-10deg);*/

}
.container {
    position:absolute;
    padding: 0 15rem;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    display:flex;
    width:100%;
    flex-direction:column;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    align-items: center;
}

.box {
    margin:8rem auto;
    display:flex;
    width:100%;
    height:100%;
    justify-content:space-between;
}
ul {
    list-style: none;
    list-style-position: outside;
}
li {
    letter-spacing: .01rem;
    line-height:3rem;

}
li::marker {
    content: "▶";
    font-size: 1rem;
    /*letter-spacing: .2rem;*/
}
.navbox {
    display:flex;
    width:40%;
    justify-content: space-between;
}
.socialbtn {
    margin: 0 2rem;
}