.main {
    width:100%;
    text-align: center;
    color:#8B8B8B;
    font-size:1.5rem;
    padding: 3rem 15rem;
}
.header {
    color:#FF64AE;
    font-size:1.5rem;
}
.slogan {
    color:#091156;
    font-size:3rem;
    font-weight:500;
}
.description {
    width:55%;
    margin:2rem auto;
}
.box {
    /*width:100%;*/
    display: flex;
    flex-direction: row;
    margin-top: 7rem;
}
.card {
    width:28%;
    margin:0 auto;
    background:#fff;
    /*border:1px solid #000;*/
    padding:6rem 1.5rem;
    border-radius:4rem;
    -webkit-box-shadow: 0px 19px 29px 25px rgba(228,231,255,0.85);
    box-shadow: 0px 19px 29px 25px rgba(228,231,255,0.85);
}
.card_title {
    color:#091156;
    font-weight:500;
    margin: 1rem 0;
}